.header_block{
    position: relative;
    background: #3A80BA;
    min-width: max-content;
    height: 72px;
  }

  .header_logo{
    position: relative;
    /* width: 136px;
    height: 49px; */
    align-content: center;
    /* text-align: center; */
    /* vertical-align: middle; */
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
  }

  .listView {
      text-align: left;
  }
    .listView li{
        list-style-position: outside;
    }

    ul.navbar li{
        display: inline;
        list-style: none;
        margin-right: 15px;
        background-color: rgb(172, 172, 172);
        border-radius: 5px;
        text-decoration: none;
        border-bottom: 1px solid transparent;
 
    }

    .formView {
        position: relative;
        text-align: left;
        background-color:gray;
        border: 1px;
        border-color: black;
    }
